.select {
    position: relative;
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}

.select-selector {
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
    left: 8px;
    width: 100%;
    margin-top: 2px;
    visibility: visible;
    color: #757575;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

.select-selector img {
    transition: all 0.15s ease-in-out;
    width: 16px;
    height: 16px;
    transform: rotateX(180deg);
}

.select-selector .has-selection {
    color: #1A1A1A;
}

.select-selector.open img {
    transform: rotateX(0deg);
}

.select-options {
    position: absolute;
    display: block;
    margin-top: 2px;
    visibility: visible;
    color: #1A1A1A;
    border: none;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%), 0 0 0 1px rgb(0 0 0 / 7%);
    cursor: pointer;
    border-radius: 2px;
    max-height: 140px;
    overflow: auto;
}

.select-options > div {
    padding: 8px 4px;
}

.select-options > div:hover {
    border-radius: 2px;
    background-color: #000;
    color: #ffe800;
}

